<<<<<<<< HEAD
  
<form action="/articles" method="post">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" type="text" name="title" />
    </li>
    <li>
      <label for="content">Content</label>
      <textarea id="content" type="text" name="content">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
=======
<form action= '/articles' method='POST'>
<label>Article:</lable>
<input type="text" name="title">
<label>Content</label>
<input type="text" name="content">
<button type="submit" value="submit">Submit</button>
>>>>>>> fe8aa34e0ccd1b6d575688ab687d91fd67325720
</form>